<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="libs/vue-material.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
    <title>Got It! Food</title>
    <script src="libs/vue_full.js"></script>
    <script src="libs/firebase.js"></script>
    <script src="libs/vue-material.js"></script>
</head>
<body>
<div id="app">
    <div class="">
        <md-toolbar>
    <md-button class="md-icon-button" @click="$refs.sidebar.toggle()">
        <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title" style="flex: 1" >Got It! Food <span v-if="currentOrderListName">| {{currentOrderListName}}</span></h2>
    <md-button id="add-order-item" @click="openDialog('addOrderItemDialog')" v-if="currentOrderListName">Add</md-button>
</md-toolbar>
        <md-sidenav class="md-left" ref="sidebar">
    <md-toolbar>
        <div class="md-toolbar-container">
            <h3 class="md-title">Order list</h3>
        </div>

    </md-toolbar>
    <div v-if="hasOrderList">
        <md-list class="md-double-line">
            <md-list-item v-for="item in allOrderList.array" @click="selectOrderList(item.id)">
                <!--<md-icon class="md-primary">list</md-icon>-->
                <div class="md-list-text-container">
                    <span>{{item.name}}</span>
                    <span>{{item.createdDate}}</span>
                </div>
                <md-menu>
                    <md-button md-menu-trigger class="md-icon-button">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>Share</md-menu-item>
                        <md-menu-item @click="renameOrderListDialog.item = item; renameOrderListDialog.oldName = item.name; openDialog('renameOrderListDialog')">Rename</md-menu-item>
                        <md-menu-item @click="renameOrderListDialog.item = item; renameOrderListDialog.oldName = item.name; openDialog('cloneOrderListDialog')">Clone</md-menu-item>
                        <md-menu-item @click="removeOrderList(item)">Remove</md-menu-item>
                    </md-menu-content>
                </md-menu>


                <md-divider class="md-inset"></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <md-button id="addOrderList" class="md-primary md-fab md-fab-bottom-right" @click="openDialog('addOrderListDialog')">
        <md-icon>add</md-icon>
    </md-button>
</md-sidenav>        <div>
    <md-list class="md-double-line">
        <div v-for="(item, index) in currentOrderList.items.array">
            <md-list-item @click="selectOrderItem(item.id)"
                          v-if="item.id !== currentOrderList.selectedItemId">
                <span class="md-accent" style="width: 3em">
                    <md-chip title="Amount">{{item.amount}}</md-chip>
                </span>
                <div class="md-list-text-container">
                    <span>{{item.name}}</span>
                    <span><code>{{item.brand}}</code></span>
                    <span>{{item.note}}</span>
                </div>
                <md-menu>
                    <md-button md-menu-trigger class="md-icon-button">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item @click="item.check=!item.check;saveEditOrderItem(item)">
                            {{(item.check?"Uncheck":"Check")}}
                        </md-menu-item>
                        <md-menu-item @click="removeOrderItem(item)">Remove</md-menu-item>
                    </md-menu-content>
                </md-menu>

            </md-list-item>
            <div v-if="item.id === currentOrderList.selectedItemId" style="padding: 3.4em">

                <md-card md-with-hover md-flex="10" style="width: 50em">
                    <md-card-header>
                        <div class="md-title">Edit</div>
                    </md-card-header>
                    <md-card-content>
                        <md-input-container>
                            <label>Item name</label>
                            <md-input v-model="item.name" required></md-input>
                        </md-input-container>
                        <md-input-container>
                            <label>Amount</label>
                            <md-input v-model="item.amount" type="number"></md-input>
                        </md-input-container>
                        <md-input-container>
                            <label>Brand</label>
                            <md-input v-model="item.brand"></md-input>
                        </md-input-container>
                        <md-input-container>
                            <label>Note</label>
                            <md-textarea v-model="item.note"></md-textarea>
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions>
                        <md-button class="md-raised" @click="cancelEditOrderItem(item)">Cancel</md-button>
                        <md-button class="md-raised md-primary" @click="saveEditOrderItem(item)">Save
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
            <md-divider class="md-inset"></md-divider>
        </div>
    </md-list>
</div>    </div>

    <md-dialog md-open-from="#addOrderList" ref="addOrderListDialog">
    <md-dialog-title>Add new order list</md-dialog-title>
    <md-dialog-content>
        <md-input-container>
            <label>Order name</label>
            <md-input v-model="newOrderListDialog.name" required></md-input>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('addOrderListDialog'); newOrderListDialog.name=''">Cancel</md-button>
        <md-button class="md-primary" @click="closeDialog('addOrderListDialog'); addNewOrderList(newOrderListDialog.name)">Add</md-button>

    </md-dialog-actions>
</md-dialog>

<md-dialog md-open-from=".renameOrderList" ref="renameOrderListDialog">
    <md-dialog-title>Change: {{renameOrderListDialog.oldName}}</md-dialog-title>
    <md-dialog-content>
        <md-input-container>
            <label>Enter new name</label>
            <md-input v-model="renameOrderListDialog.newName" required></md-input>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('renameOrderListDialog'); renameOrderListDialog.newName=''">Cancel</md-button>
        <md-button class="md-primary" @click="closeDialog('renameOrderListDialog'); renameOrderList(renameOrderListDialog.item, renameOrderListDialog.newName); renameOrderListDialog.newName = ''">Rename</md-button>
    </md-dialog-actions>
</md-dialog>


<md-dialog md-open-from=".cloneOrderList" ref="cloneOrderListDialog">
    <md-dialog-title>Clone: {{renameOrderListDialog.oldName}}</md-dialog-title>
    <md-dialog-content>
        <md-input-container>
            <label>Enter new name</label>
            <md-input v-model="renameOrderListDialog.newName" required></md-input>
        </md-input-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('cloneOrderListDialog'); renameOrderListDialog.newName=''">Cancel</md-button>
        <md-button class="md-primary" @click="closeDialog('cloneOrderListDialog'); cloneOrderList(renameOrderListDialog.item, renameOrderListDialog.newName); renameOrderListDialog.newName = ''">Clone</md-button>
    </md-dialog-actions>
</md-dialog>

<md-dialog md-open-from="#add-order-item" ref="addOrderItemDialog" >
    <md-dialog-title style="width: 40em">Add new item</md-dialog-title>
    <md-dialog-content>
        <md-input-container>
            <label>Item name</label>
            <md-input v-model="newOrderItemDialog.name" required :fetch="autoCompleteMethod"></md-input>
        </md-input-container>
        <md-input-container>
            <label>Amount</label>
            <md-input v-model="newOrderItemDialog.amount" type="number" ></md-input>
        </md-input-container>
        <md-input-container>
            <label>Brand</label>
            <md-input v-model="newOrderItemDialog.brand"></md-input>
        </md-input-container>
        <md-input-container>
            <label>Note</label>
            <md-textarea v-model="newOrderItemDialog.note"></md-textarea>
        </md-input-container>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" @click="closeDialog('addOrderItemDialog')">Cancel</md-button>
        <md-button class="md-primary" @click="closeDialog('addOrderItemDialog'); addOrderItem()">Add</md-button>
    </md-dialog-actions>
</md-dialog></div>

<script src="firebase.js"></script>
<script src="app.js"></script>
</body>
</html>