<html >
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/repostar/css/style.css">
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Repo Stars</title>
    <!-- <script type="text/javascript" src="repostar/js/ZeroClipboard.js"></script> -->
    <script type="text/javascript" src="/repostar/js/angular.min.js"></script>
    <script type="text/javascript" src="/repostar/js/app.js"></script>
</head>

<body ng-app="RepoStarApp">
    <div class="content" ng-controller="RepoContainer as repo">
        <div class="inputs-container">
            <div class="text-input">
                <label for="url">GitHub repository's URL</label>
                <input id="url" class="form-control" placeholder="ex: https://github.com/square/retrofit" type="text" ng-model="repo.form.url" ng-change="repo.update()" />

            </div>
            <div class="row checkboxes-container">
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="repo.form.watch" ng-change="repo.update()">
                            <span>Watches</span>
                        </label>    
                    </div>    
                </div>
                
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="repo.form.star" ng-change="repo.update()">
                            <span>Stars</span>
                        </label>    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="repo.form.folk" ng-change="repo.update()">
                            <span>Folks</span>
                        </label>    
                    </div>
                </div>
                
            </div>
            <div class="result-container">
                <label for="result">Result</label>
                <input id="result" type="text" class="form-control" ng-model="repo.image" disabled="">
                <br/>
                <label for="result-md">Result for Markdown</label>
                <input id="result-md" type="text" class="form-control" ng-model="repo.imageMd" disabled="" /> 
                <!-- <div class="input-group">
                  <input id="result-text" type="text" class="form-control" ng-model="repo.image" disabled="">
                  <span class="input-group-btn">
                  <button id="copy-btn" class="btn btn-default" type="button" ng-click="repo.copy()" data-clipboard-text="Con heo">Copy</button>
                </span> -->
            </div><!-- /input-group -->
        </div>
        <div class="image-container">
            <img src="{{ repo.image }}"/>
        </div>

    </div>
</div>

<a href="https://github.com/tuanchauict/Repo-stars-image"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
</body>
</html>
