.nav-tabs {
  border: 0;
  padding: 10px 0 16px; }
  .nav-tabs > li > a {
    border-radius: 0;
    color: #222222;
    background-color: transparent !important;
    border-bottom-color: transparent;
    border-width: 0 0 2px 0 !important;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 20px; }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > lili.active > a:hover {
    color: #4229CC !important;
    font-weight: 400;
    border-bottom-color: #4229CC !important; }

/*
main {
    padding-top: $navbar-height;
    @media (max-width: 767px) {
        padding-top: 50px;
    }
}
*/
.bg-white {
  background-color: #fff !important; }

.bg-grey {
  background-color: #F7F7F8 !important; }

.bg-gray-lighter {
  background-color: #F9FAFA; }

.bg-primary {
  background-color: #4229CC; }

.text-primary {
  color: #4229CC !important; }

.text-white {
  color: #fff !important; }

.text-info {
  color: #54c9c1; }

.text-danger {
  color: #E21511; }

.text-light {
  font-weight: 200 !important; }

.text-regular {
  font-weight: 400 !important; }

.text-semibold {
  font-weight: 500 !important; }

.text-bold {
  font-weight: 600 !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-0 {
  margin: 0 !important; }

/*
.div-table {
    display: table;
    width: 100%;
}
.div-row {
    display: table-row;
}
.div-cell {
    display: table-cell;
}
*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }

.iframe-responsive {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.iframe-responsive--4x3 {
  padding-bottom: 75%; }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
@media (min-width: 768px) {
  .row-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .row-flex:before,
  .row-flex:after {
    content: normal; }
  .row-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; } }

.row-10 {
  margin-left: -10px;
  margin-right: -10px; }

.row-10 [class^="col-"],
.row-10 [class*=" col-"] {
  padding-left: 10px;
  padding-right: 10px; }

* {
  outline: 0 !important; }

body {
  font-size: 16px;
  font-weight: 200;
  overflow-x: hidden; }

a {
  color: #4229CC; }
  a:hover {
    color: #3420a2; }

h1, .h1 {
  font-size: 81px;
  font-weight: 200; }

h2, .h2 {
  font-size: 36px;
  font-weight: 200; }

h3, .h3 {
  font-size: 24px;
  font-weight: 200; }

h4, .h4 {
  font-size: 16px;
  font-weight: 600; }

/*----------------------------------------
 navbar.scss
----------------------------------------*/
.navbar--global {
  height: 80px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #E9E9E9;
  margin-bottom: 0;
  transition: 0.25s all ease-in-out; }
  .navbar--global .navbar-brand {
    margin-top: 19px;
    padding: 0;
    text-indent: -999px;
    background-image: url("https://www.got-it.co/images/logo-main@2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 112px;
    height: 48px; }
  .navbar--global .nav > li > a {
    color: #222222;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    position: relative; }
    .navbar--global .nav > li > a:after {
      content: "";
      position: absolute;
      display: block;
      left: 20px;
      right: 20px;
      bottom: 20px;
      height: 2px;
      background: transparent; }
    .navbar--global .nav > li > a:hover {
      color: #4229CC;
      background: transparent; }
      .navbar--global .nav > li > a:hover:after {
        background: #4229CC; }
    .navbar--global .nav > li > a:focus {
      background: transparent; }
  .navbar--global .nav > li.active > a {
    color: #4229CC; }
    .navbar--global .nav > li.active > a:after {
      background: #4229CC; }

.navbar--switch {
  background: transparent;
  box-shadow: none; }
  .navbar--switch .page-name-ext {
    color: #fff; }
    .navbar--switch .page-name-ext:after {
      background-color: #fff; }
  .navbar--switch .navbar-brand {
    background-image: url("../imgs/logo-main-white@2x.png"); }
  .navbar--switch .nav > li > a {
    color: #fff; }
    .navbar--switch .nav > li > a:hover {
      color: #fff; }
    .navbar--switch .nav > li > a:hover:after {
      background: #fff; }
  .navbar--switch .nav > li.active a {
    color: #fff; }
    .navbar--switch .nav > li.active a:after {
      background: #fff; }
  @media (max-width: 991px) {
    .navbar--switch li {
      border-top-color: rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .navbar--switch li:first-child {
        border-top: 0; }
    .navbar--switch .icon-bar {
      background-color: #fff; } }

.page-name-ext {
  color: #4229CC;
  font-size: 24px;
  position: relative; }
  .page-name-ext:after {
    content: "";
    height: 1px;
    background-color: #4229CC;
    right: 0;
    bottom: -4px;
    width: 400px;
    position: absolute; }

@media (max-width: 767px) {
  .navbar {
    height: auto; }
    .navbar .navbar-brand {
      height: 30px;
      margin: 10px 0 10px 15px; }
    .navbar li {
      border-top: 1px solid #eee; }
  .icon-bar {
    background-color: #555; } }

.navbar-home {
  background: transparent;
  top: 35px;
  margin: 0;
  height: auto; }
  .navbar-home .navbar-brand {
    background-image: url("../imgs/logo@2x.png");
    width: 147px;
    height: 57px;
    margin: 0; }
  .navbar-home .nav > li > a {
    color: #fff;
    line-height: 1em; }
  @media (max-width: 992px) {
    .navbar-home {
      top: 20px; }
      .navbar-home .navbar-brand {
        height: 36px;
        margin: 10px 0 0 15px; }
      .navbar-home .icon-bar {
        background-color: #fff; } }

/*----------------------------------------
 /navbar.scss
----------------------------------------*/
.page-footer {
  background: #000;
  color: #fff;
  padding: 60px 0 40px;
  width: 100%;
  overflow-x: hidden; }
  .page-footer a, .page-footer a:hover {
    color: #ccc; }
  .page-footer ul {
    margin: 0; }
  .page-footer small {
    font-size: 12px;
    line-height: 1em; }
  .page-footer .footer-logo {
    padding-right: 60px; }
    .page-footer .footer-logo img {
      height: 56px;
      width: auto; }
  .page-footer .footer-copyright {
    top: -20px;
    position: relative; }
  .page-footer .footer-intro {
    margin: 40px 0 0;
    line-height: 1.1em; }
    .page-footer .footer-intro small {
      font-size: 14px; }
  .page-footer .footer-link {
    line-height: 1.1em;
    padding-bottom: 8px; }
    .page-footer .footer-link a {
      display: block; }
    .page-footer .footer-link--social a {
      display: inline-block;
      margin-right: 30px; }
      .page-footer .footer-link--social a:last-child {
        margin-right: 0; }
    .page-footer .footer-link.active a {
      color: #54C9C1; }
  .page-footer .list-download {
    margin: 40px 0 20px; }
  .page-footer .list-statistic li {
    padding-right: 48px; }
  .page-footer .left {
    padding-bottom: 20px; }
    .page-footer .left span {
      display: inline-block;
      padding: 0 4px 0 14px;
      color: #999; }
  .page-footer .right .row {
    margin-left: -10px;
    margin-right: -10px; }
  .page-footer .right .col-sm-3 {
    padding-left: 10px;
    padding-right: 10px; }
  @media (max-width: 991px) {
    .page-footer {
      text-align: center;
      line-height: 20px; }
      .page-footer .pull-left,
      .page-footer .left,
      .page-footer .right {
        float: none !important;
        width: auto; }
      .page-footer .footer-logo,
      .page-footer .footer-copyright {
        padding-right: 0 !important; }
      .page-footer .footer-logo,
      .page-footer .list-statistic {
        display: inline-block;
        vertical-align: middle; }
        .page-footer .footer-logo li,
        .page-footer .list-statistic li {
          padding: 0 24px; }
      .page-footer .footer-logo {
        margin: 0 24px; }
        .page-footer .footer-logo img {
          height: 48px; }
      .page-footer .right {
        padding: 20px 0; }
        .page-footer .right ul {
          overflow: hidden; }
        .page-footer .right .footer-link {
          padding: 8px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.2); }
        .page-footer .right .footer-copyright {
          width: 100%; }
      .page-footer .footer-intro {
        text-align: left;
        padding: 0 15px; }
      .page-footer .footer-copyright {
        top: 0; }
        .page-footer .footer-copyright a {
          display: block;
          margin: 10px 0;
          text-decoration: underline; } }
  @media (max-width: 767px) {
    .page-footer .list-statistic li {
      padding: 0 15px;
      margin-top: 20px; }
    .page-footer .list-download img {
      width: 124px; } }

html {
  height: 100%; }

body {
  min-height: 100%; }

.fake-navbar {
  height: 80px; }
  @media (max-width: 767px) {
    .fake-navbar {
      height: 50px; } }

.mobile-description h3 {
  margin: 0; }

.heading-desc {
  margin-bottom: 20px; }

.user-item {
  text-align: center;
  margin: 35px 0; }
  .user-item img {
    width: 108px;
    height: 108px;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2); }

.user-item-name {
  font-weight: 600;
  margin: 24px 0 0; }

.subject-name {
  padding: 50px 40px 30px;
  background-color: #fff;
  border-radius: 6px;
  flex: 1; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .subject-name {
      /* IE10+ CSS styles go here */
      height: 100%;
      flex: none; } }

.subject-name p {
  margin-top: 20px;
  font-size: 16px; }

.section-heading {
  position: relative;
  padding-bottom: 28px;
  margin-bottom: 50px; }
  .section-heading:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 220px;
    height: 2px;
    background-color: #222222; }
  .section-heading:after {
    content: "//\\\\";
    color: #4229CC;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px; }

.investor-logo {
  border-radius: 4px;
  background: #fff;
  margin: 10px 0; }
  .investor-logo img {
    max-width: 100%; }

.page-cover {
  min-height: 600px;
  padding: 220px 0 60px; }
  .page-cover h1 {
    font-size: 46px;
    margin: 0 0 20px;
    line-height: 1.1em; }
  @media (max-width: 767px) {
    .page-cover {
      padding: 80px 0 40px;
      min-height: 0; }
      .page-cover h1 {
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center; } }

.section-gotit {
  padding: 100px 0; }
  @media (max-width: 767px) {
    .section-gotit {
      padding: 40px 0; } }

.div-table {
  display: table;
  width: 100%; }

.div-table__row {
  display: table-row; }

.div-table__td {
  display: table-cell; }

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #E21511; }

.has-error .form-control {
  border-color: #E21511; }

.noti-icon img {
  display: block;
  margin: 0 auto 30px; }

.signup-success-desc {
  margin: 50px 0; }

.rec-purple {
  height: 74px; }
  .rec-purple img {
    width: 100%;
    height: 100%; }
  @media (max-width: 767px) {
    .rec-purple {
      height: 48px; } }

/*----------------------------------------
 gotit/navbar.scss
----------------------------------------*/
/*----------------------------------------
 /gotit/navbar.scss
----------------------------------------*/
/*----------------------------------------
 home.scss
----------------------------------------*/
.page-gotit-home {
  background: #f9fafa; }

.trio-username,
.trio-username:hover {
  color: #333 !important; }

.page-home-cover {
  padding: 140px 0 100px;
  position: relative;
  background: #fff;
  height: calc(100vh - 60px);
  min-height: 650px;
  max-height: 700px; }
  .page-home-cover h1 {
    font-size: 81px;
    line-height: 1.1em; }
  .page-home-cover .cover-image-wrapper {
    position: relative; }
  .page-home-cover .cover-image {
    position: absolute;
    height: 412px;
    top: 0px;
    left: -30px;
    width: 840px;
    height: 426px;
    border: 0; }
  .page-home-cover ol {
    padding-left: 20px; }
  .page-home-cover .see-more {
    display: block;
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: -55px;
    margin-left: -55px;
    background-image: url("../imgs/see-more@2x.png");
    background-size: 110px 110px;
    transform: scale(1);
    transition: 0.25s; }
    .page-home-cover .see-more:hover {
      transform: scale(1.1); }
  @media (max-width: 991px) {
    .page-home-cover {
      height: auto;
      min-height: 0;
      max-height: inherit;
      padding: 80px 0 40px;
      display: block; }
      .page-home-cover h1 {
        font-size: 46px; }
      .page-home-cover .h3 {
        text-align: center; }
      .page-home-cover p {
        font-size: 18px; }
      .page-home-cover .btn-primary {
        min-width: auto;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0; }
      .page-home-cover .cover-image {
        position: static;
        width: 100%;
        height: auto; }
      .page-home-cover .see-more {
        visibility: hidden; } }

/*
.section-trio-director {
    .media {
        margin: 50px 0;
        
    }
    .media-left {
        padding-right: 20px;
    }
    .media-object {
        width: 60px;
    }
}
*/
/*
.section-how-it-works {
    padding-bottom: 0;
    .desc {
        padding: 0 30px;
    }
    .btn-primary {
        min-width: 390px;
        margin: 30px 0;
    }
    @media (max-width: $screen-sm-max) {
        .btn-primary {
            min-width: auto;
        }
        
    }
}
*/
.trio-contact-info {
  border: 2px dashed #E9EBED;
  padding: 32px 48px; }

.section-investor-logo {
  background: #F7F7F8;
  padding: 60px 0; }
  .section-investor-logo img {
    max-height: 50px;
    max-width: 170px; }
  .section-investor-logo span {
    display: block; }
  .section-investor-logo ul {
    width: 100%; }
  .section-investor-logo li {
    display: block;
    float: left;
    width: 20%;
    padding: 0;
    text-align: center;
    height: 50px; }
  @media (max-width: 61.99em) {
    .section-investor-logo img {
      max-width: 110px; }
    .section-investor-logo li {
      height: 32px; } }
  @media (max-width: 47.99em) {
    .section-investor-logo {
      padding: 40px 0; }
      .section-investor-logo img {
        max-width: 110px; }
      .section-investor-logo span {
        display: block;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: #fff;
        padding: 10px;
        border-radius: 4px; }
      .section-investor-logo li {
        width: 50%;
        height: auto; } }

.section-why-kaas figure {
  background: url("../imgs/people.png");
  padding: 15px; }
  .section-why-kaas figure img {
    width: 100%; }
  @media (min-width: 768px) {
    .section-why-kaas figure {
      padding: 30px;
      margin-top: -100px; }
      .section-why-kaas figure img {
        width: 60%; } }

.form-control {
  box-shadow: none; }

.form-group-lg .form-control {
  font-size: 16px; }

@media (min-width: 768px) {
  .trio-dialog {
    width: 720px; } }

.trio-dialog .modal-content {
  border-radius: 20px; }

.trio-dialog .modal-body {
  padding: 48px 64px; }

.trio-dialog .dialog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  float: none;
  opacity: 0.7;
  z-index: 1; }
  .trio-dialog .dialog-close:hover {
    opacity: 1; }

.trio-dialog-heading {
  margin: 0 24px 24px 0;
  padding-bottom: 8px;
  position: relative; }
  .trio-dialog-heading:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4229CC; }

.trio-helper-signup {
  margin-top: 8px; }

/*----------------------------------------
 /home.scss
----------------------------------------*/
.page-career-cover {
  position: relative; }
  .page-career-cover .cover-image {
    height: 460px;
    position: absolute;
    right: -10%;
    bottom: 0; }
  @media (max-width: 991px) {
    .page-career-cover {
      padding-bottom: 0; } }

.career-photo {
  background: url("../imgs/career-photo@2x.jpg") center top;
  background-size: cover;
  height: 500px; }
  @media (max-width: 991px) {
    .career-photo {
      height: 240px; } }

.job-item {
  margin-bottom: 30px;
  flex: 1; }
  .job-item .item-text {
    border-left: 1px solid #4229CC;
    line-height: 1.2em;
    padding-left: 14px; }
  .job-item .job-link {
    display: block;
    padding: 10px 0;
    color: #222222; }
  .job-item .ops-team {
    border-color: #f6a623; }
  .job-item .product-team,
  .job-item .growth-team {
    border-color: #54c9c1; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .job-item {
      /* IE10+ CSS styles go here */
      height: 100%;
      flex: none; }
      .job-item hr {
        width: 100%; } }

@media (max-width: 991px) {
  .section-gotit-life .col-sm-3 {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .section-gotit-life .col-sm-3:last-child {
      border: 0;
      margin-bottom: 0; } }

/*----------------------------------------
 press.scss
----------------------------------------*/
.ratio1-1:before,
.ratio2-1:before,
.ratio4-3:before,
.ratio16-9:before {
  display: block;
  content: ""; }

.ratio1-1:before {
  padding-top: 100%; }

.ratio2-1:before {
  padding-top: 50%; }

.ratio4-3:before {
  padding-top: 75%; }

.ratio16-9:before {
  padding-top: 56.25%; }

.page-gotit-press .fake-navbar {
  height: 0; }

.page-press-cover {
  background: url("../imgs/press-cover@2x.png") center center;
  background-size: cover;
  position: relative;
  min-height: 450px;
  padding-top: 170px; }
  .page-press-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 991px) {
    .page-press-cover {
      min-height: 0;
      padding-top: 100px; }
      .page-press-cover .h2 {
        font-size: 24px; } }

.press-item {
  position: relative;
  padding: 0;
  border: 0; }
  .press-item .caption {
    padding: 16px; }

.press-item__link {
  display: block;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.25s box-shadow;
  color: #222222;
  text-decoration: none !important; }
  .press-item__link:hover, .press-item__link:focus {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1); }
    .press-item__link:hover .press-item__title, .press-item__link:focus .press-item__title {
      color: #4229CC; }

.press-item__cover {
  background-color: #f9fafa;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  width: 100%;
  position: relative; }

.press-item__title {
  margin: 0;
  line-height: 1.2em; }

.press-item__author {
  margin: 16px 0 0; }
  .press-item__author img {
    margin-top: -1px; }

.press-item__timestamp {
  margin: 10px 0 0; }

.press-item__thumb {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/*----------------------------------------
 /press.scss
----------------------------------------*/
.page-kaas-cover .left p {
  padding-right: 60px; }

@media (max-width: 991px) {
  .page-kaas-cover .cover-image {
    margin-top: 0; }
  .page-kaas-cover .left p {
    padding-right: 0; } }

.section-solution-intro .btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border: 0; }

.section-solution-intro img {
  max-width: 300px; }

.section-solution-intro .left li {
  padding-right: 20px; }

.section-solution-intro .left img {
  margin-bottom: 8px; }

.section-solution-intro .right ul {
  margin-bottom: 20px !important; }

.section-solution-intro .right li {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 30px; }

.section-solution-intro .right img {
  margin-bottom: 8px; }

@media (max-width: 1200px) {
  .section-solution-intro .right li {
    padding: 0 4px; } }

@media (max-width: 991px) {
  .section-solution-intro img {
    max-width: 240px; }
  .section-solution-intro .right li {
    padding: 0 14px; } }

@media (max-width: 767px) {
  .section-solution-intro .btn {
    width: 100%;
    line-height: 36px; }
  .section-solution-intro .right {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #eee; } }

.page-about-cover .cover-image {
  margin-top: -30px; }

@media (max-width: 991px) {
  .page-about-cover .cover-image {
    margin-top: 0; } }

.section-story {
  font-size: 18px; }
  .section-story img {
    width: 160px;
    height: 160px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3); }
  .section-story p {
    margin-top: 20px; }

@media (max-width: 768px) {
  .section-director .row > div {
    width: 50%; }
  .section-director .row > div:nth-child(2n+1) {
    clear: left; }
  .section-director .user-item {
    margin-bottom: 10px; } }

.page-team-cover .cover-image-wrapper {
  position: relative; }

.page-team-cover .cover-image {
  position: absolute;
  height: 500px;
  top: -115px;
  left: -30px; }

@media (max-width: 991px) {
  .page-team-cover img {
    margin-top: -30px; } }

.section-team-bottom {
  height: 170px;
  margin-top: 30px;
  background: url("../imgs/connect-illustration@2x.png") center bottom no-repeat;
  background-size: 100%; }
  @media (max-width: 991px) {
    .section-team-bottom {
      height: 60px;
      background-size: cover; } }

.team-photo-list {
  width: 100%; }
  .team-photo-list img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); }
  .team-photo-list .div-table__td {
    width: 33%;
    padding: 15px; }
    @media (max-width: 1199px) {
      .team-photo-list .div-table__td {
        padding: 12px 10px; } }
    @media (max-width: 767px) {
      .team-photo-list .div-table__td {
        padding: 4px 4px; } }

/*
.photo {
    background-size: cover;
    background-position: center center;
    background-color: #E9EBED;
    transition: all 0.2s;
    &:hover {
        box-shadow: 0 15px 30px rgba(#000, 0.3);
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0;
        top: 10px;
        left: 20px;
        right: 20px;
        bottom: 10px;
        border: 2px solid rgba(#fff, 0.2);
        transition: all 0.2s;
    }
    &:hover:before {
        opacity: 1;
    }
}
.photo-tall {
    height: 436px;
}
.photo-short {
    min-height: 214px;
    height: 100%;
}
.photo-wide {
    
}
*/
@media (max-width: 767px) {
  .page-gotit-tearm {
    padding-top: 00px; }
    .page-gotit-tearm h1 {
      font-size: 40px; } }

.section-static-content {
  padding-top: 40px; }

.page-expert-cover {
  position: relative; }
  .page-expert-cover .cover-image-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.25s all; }
  .page-expert-cover .cover-image {
    height: 370px; }
  @media (max-width: 991px) {
    .page-expert-cover {
      padding-top: 80px;
      padding-bottom: 0; }
      .page-expert-cover .cover-image-wrapper {
        position: static; }
      .page-expert-cover .cover-image {
        width: 100%;
        height: auto; } }
  @media (max-width: 1439px) {
    .page-expert-cover .cover-image-wrapper {
      right: -10%; } }
  @media (max-width: 1279px) {
    .page-expert-cover .cover-image-wrapper {
      right: -15%; } }
  @media (max-width: 1199px) {
    .page-expert-cover .cover-image-wrapper {
      right: -25%; } }

.section-expert-intro img {
  max-width: 242px; }

.section-expert-intro .btn {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-weight: 400;
  border: 0; }

@media (max-width: 991px) {
  .section-expert-intro img {
    max-width: 220px;
    margin-top: 30px;
    display: inline-block; }
  .section-expert-intro .btn {
    width: 100%;
    height: 48px; } }

.section-contact {
  padding-top: 160px; }
  .section-contact h1 {
    font-size: 46px;
    line-height: 1.1em; }
  @media (max-width: 767px) {
    .section-contact {
      padding-top: 80px; }
      .section-contact h1 {
        font-size: 40px; } }

.btn {
  font-size: 16px; }

.btn-lg {
  padding: 0.75em 2rem;
  line-height: 20px; }

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
  font-weight: 200;
  letter-spacing: 1px; }

.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  opacity: 0.5;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none; }

.btn:active,
.btn.active {
  background-image: none; }

.btn-default {
  border-color: #ccc; }

.btn-default:active,
.btn-default.active {
  border-color: #dbdbdb; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0; }

.btn-primary {
  background-color: #4229CC;
  background-repeat: repeat-x; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #3722aa; }

.btn-primary:active,
.btn-primary.active {
  background-color: #3722aa; }

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  background-color: #2f1d91; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #3722aa;
  background-image: none; }

.btn-info {
  background-color: #54C9C1; }

.btn-info:hover,
.btn-info:focus {
  background-color: #3bbab1; }

.btn-info:active,
.btn-info.active {
  background-color: #3bbab1; }

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  background-color: #33a29b; }

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3bbab1; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 720px; }
  .modal-header {
    padding: 46px 64px 0;
    border: 0; }
  .modal-title {
    margin: 0 24px -10px 0;
    padding-bottom: 8px;
    position: relative; }
    .modal-title:after {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: #4229CC; }
  .modal-content {
    border-radius: 20px; }
  .modal-body {
    padding: 48px 64px; }
  button.dialog-close {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 24px;
    right: 24px;
    float: none;
    opacity: 0.7;
    z-index: 1;
    background-image: url("../imgs/icon-close@2x.png");
    background-repeat: no-repeat;
    background-size: 20px 20px; }
    button.dialog-close:hover {
      opacity: 1; }
    button.dialog-close span {
      display: none; } }
