sansSerifFont = 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif
serifFont = Cardo

 
  


body{
  margin 0
  outline 0
  -webkit-font-smoothing:antialiased;
  font-family sansSerifFont
  -webkit-font-smoothing:antialiased;
  *{
    box-sizing border-box
  }
}

// logo

.logo{
  width 500px
  height 100px
  position absolute
  left 50%
  top 50%
  margin-left -250px
  margin-top -50px
  
  .logo-line-1{
    font-family serifFont
    font-size 60px
    text-align center
  }
  .logo-line-2{
    font-size 25px
    text-align right
    
    margin-top -18px
    color #aaa
  }
}

.first-open-div{
  position fixed
  width 100%
  height 100%
  left 0
  top 0
  background #fff
  
  .input-container{
    width 600px
    margin 50px auto
    
    
    
    .logo{
      margin-top 20px
      margin-bottom 20px
      
      .logo-line-1{
        font-family serifFont
        font-size 50px
        text-align center
      }
      .logo-line-2{
        font-size 15px
        text-align right
        padding-right 73px
        margin-top -18px
        color #aaa
      }
    }
  }
}



leftBoxWidth = 280px
.box{
  display inline-block
  position absolute
  top 0px
  bottom 0px

  &.left-box{
    left 0
    width leftBoxWidth
    // border-right 1px solid #E9E9E9
    background #fbfbfb
  }

  &.right-box{
    left leftBoxWidth + 1
    right 0
    overflow-y auto
  }
}

inputContainerPaddingTop = 20px
inputContainerPaddingBottom = 20px
inputContainerPaddingLeftRight = 20px

.input-container{
  padding 30px inputContainerPaddingLeftRight 20px
  input.input-txt{
    display block
    outline 0px
    margin 0
    border 1px solid #E0E0E0
    font-size 16px
    padding 8px 10px
    width 100%

    &:focus{
      border-color #4D90FE
    }
  }
}

.suggest-list{
  position absolute
  top 77px
  bottom 0
  width 100%
  overflow-y auto
  padding-bottom 40px
 
  .suggest-item{
    padding 10px inputContainerPaddingLeftRight
    cursor pointer

    &:hover{
      background #f2f2f2
    }
    
    .suggest-item-type{
      font-size 12px
      color #888
      margin-left 8px
    }
    
    &.highlight{
      background #FFFFD3
    }
  }
  
  &::-webkit-scrollbar {
    width: 3px;
  }
  
  &::-webkit-scrollbar:hover{
    width 6px
  }
 
  &::-webkit-scrollbar-thumb {
    background-color: rgba(88,88,88,0.1);
    // outline: 1px solid slategrey;
  }
}

.right-box-container{
  padding-left 30px
  padding-right 30px 
  overflow-y auto
  min-height 100%
}

.word-title-container{
  margin 27px 0 20px
  
  .word{
    font-size 35px
    color #00AEEF
    font-weight bold
    
  }
  
  .type{
    font-size 20px
    color #888
    margin-left 5px
  }
}

.mean-container{
  font-family serifFont
  font-size 20px
  .mean{
  
    u{
      display block
    }
    
    u{
      color #BF0000
      // border-bottom 1px solid #FF9100
      font-decoration none
      font-weight bold
      margin-bottom 10px
    }
    
    p{
      i{
        color #366ECA
        margin-left 5px
        margin-right 5px
      }
      
      a.show_hide{
        display block
        padding 5px 5px
        background #bbb
        font-weight bold
        font-size 13px
        cursor default
        
        color #fff
        font-family Helvetica, tahoma
        text-decoration none
      }
      
      & sup,& tt{
        
        display: inline-block;
        
        height: 24px;
        line-height: 22px;
      }
      
      sup{  
        font-size: 14px;
        font-family Helvetica, tahoma
        background: none repeat scroll 0 0 #FF0000;
        border-radius: 50%;
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        width: 24px;
        padding-top 2px
      }
      
      tt{
        font-family serifFont
        vertical-align bottom
        margin-left 10px
        font-size 28px
        height 32px
      }
    }
    
    .ex{
      border-left 1px solid #CCCCCC
      padding 5px 20px 7px
      margin-top 5px
      
      b{
        color #3025A9
      }
      
    }

    .excontent{
      border-left 1px solid #CCCCCC
      padding 2px 40px 4px
      // margin-top 2px
      margin-bottom 5px
      
      &:before{
        content: "-"
        margin-right 5px
      }
      
      i{
        color #366ECA
        margin-left 10px
      }
    }
  }

}


.loader{
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  z-index 100
  .modal{
    width 100%
    height 100%
    background rgba(0,0,0, 0.4)
  }
  
  loaderWidth = 400px
  loaderHeight = 200px
  .loader-dialog{
    position absolute
    width loaderWidth
    height loaderHeight
    left 50%
    top 50%
    margin-left -(loaderWidth/2)
    margin-top -(loaderHeight/2)
    background #fff
    border-radius 3px
    box-shadow 0 0 10px rgba(0,0,0,0.4)
    
    .loading-image{
      margin 40px auto 20px
      text-align center
    }
    
    .loading-information{
      text-align center
    }
  }
}

.facebook-like{
  position absolute
  left 290px
  top 10px
}

.fb-like-container{
  padding-bottom 40px
}

.fb-like{
  // position absolute!important;
  // top 5px
    // margin-left 10px
}
