<!DOCTYPE html>
<html ng-app="CollocationApp">
<!-- <html ng-app="CollocationApp" manifest="/collocation/cache.manifest"> -->

<head>
    <meta property="og:image" content="/collocation/img/thumbnail.png" />
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/collocation/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/collocation/css/style-small.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>English Collocation</title>
    <!-- <script type="application/javascript" src="js/jquery-2.1.3.min.js"></script> -->
    <!-- <script type="application/javascript" src="/collocation/js/gunzip.min.js"></script> -->
    <script type="application/javascript" src="/collocation/js/angular.min.js"></script>
    <script type="application/javascript" src="/collocation/js/app.js"></script>
    <script type="application/javascript" src="/collocation/js/utils.js"></script>
    <script type="application/javascript" src="/collocation/js/controller.js"></script>
    <script type="application/javascript" src="/collocation/js/data-handler.js"></script>
</head>

<body ng-controller="CollocationController">
    <div class="box left-box {{ options.inputQueryFocus }}">
        <div class="input-container">
            <input class="input-txt" 
            	type="text" 
            	ng-model="filter.queryText" 
            	placeholder="enter text" 
            	ng-keydown="filter.onKeyDown($event)" 
            	ng-keyup="filter.onKeyUp($event)"
            	focus-me="true",
                ng-focus="options.onInputQueryFocus(true)"
             
            	/>
        </div>
        <div class="suggest-list">
            <div class="suggest-item {{ filter.currentSelectedIndex == $index ? 'highlight' : ''}}" ng-repeat="item in (filter.currentSuggestWord = (filter.indexMaps | queryInput: filter.queryText | orderBy: 'key'))" data-id={{item.id}} ng-click="filter.onItemClick(item)" ng-mouseover="filter.currentSelectedIndex=$index">
                <div>
                    <span class="suggest-item-word">{{ item.word }}</span>
                    <span class="suggest-item-type">{{ item.type }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="box right-box">
        <div class="right-box-container">
            <div class="word-title-container" ng-if="words.currentWord.id >= 0">
                <span class="word">{{words.currentWord.word}}</span>
                <span class="type">{{words.currentWord.type}}</span>
            </div>
            <div class="mean-container">
                <div class="mean" ng-bind-html="words.currentWord.content | toTrusted"></div>
            </div>
            <div class="fb-like-container">
                <div class="fb-like" data-href="http://tuanchauict.github.io/collocation/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
        </div>
        <div class="right-box-container " ng-if="words.currentWord.id == -1">
            <div class="logo">
                <div class="logo-line-1">Oxford Collocation</div>
                <div class="logo-line-2">Online Dictionary</div>
                
            </div>
        </div>
    </div>
    <div class="loader"  ng-if="loader.active">
        <div class="modal"></div>
        <div class="loader-dialog">
            <div class="loading-image">
                <img src="/collocation/img/loader.gif">
            </div>
            <div class="loading-information">{{ loader.text }}</div>
        </div>
    </div>
    <div class="new-version">
    </div>
    <!-- <div class="first-open-div" ng-hide="options.isHideFirstInput()">

    	<div class="input-container">
    		<div class="logo">
    			<div class="logo-line-1">Oxford Collocation</div>
    			<div class="logo-line-2">Dictionary</div>
    			
    		</div>
    		<input class="input-txt" type="text" ng-model="filter.queryText" focus-me="options.firstOpen" ng-keyup="options.firstOpen = filter.queryText.length > 0" />
    	</div>
    </div> -->
    <div class="thrid-party-services">
        <div class="facebook-like">
            <div id="fb-root"></div>
            <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=265052040364121";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
        </div>
        <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61830568-1', 'auto');
        ga('send', 'pageview');
        </script>
    </div>
</body>

</html>
