body{
    background: #000;
}

body, body * {
    color: #ffffff;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}

#desktop table{
    width: 100%;
}

#desktop table tr.header{
    text-align: center;
}

#desktop table{
    border: #505050 1px solid;
}

#desktop table td{
    border-right: #505050 1px solid;
    border-bottom: #505050 1px solid;
    padding-left: 0;
    padding-right: 0;
    height: 20px;
}

#desktop table tbody tr:last-child td{
    border-bottom: none;
}

#desktop table tr td:last-child{
    border-right: none;
}

.row:hover td{
    border-bottom: #ff0000 2px solid;
}