<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CDNJS :: Vue (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>

    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>

    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
</head>
<body>
<div id="main">
    <h1>Vue Dragable For</h1>

    <div class="drag">
        <h2>Draggable</h2>
        <draggable :list="list" class="dragArea" @end="onUpdate()">
            <div v-for="element in list">{{element.name}}</div>
        </draggable>
    </div>

    <div class="normal">
        <h2>Normal v-for</h2>
        <div class="dragArea">
            <div v-for="element in list">{{element.name}}</div>
        </div>
    </div>

    <button @click="add">Add</button>
    <button @click="replace">Replace</button>
</div>
<script>
    var vm = new Vue({
        el: "#main",
        data: {
            list:[{name:"John"},
                {name:"Joao"},
                {name:"Jean"} ]
        },
        methods:{
            add: function(){
                this.list.push({name:'Juan'});
            },
            replace: function(){
                this.list=[{name:'Edgard'}]
            },
            onUpdate: function(e){
                console.log(this.list);
            }
        }
    });

</script>
</body>
</html>