<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">

    <title>Bang Gia</title>
    <link href="https://necolas.github.io/normalize.css/latest/normalize.css" type="text/css" rel="stylesheet">
    <link href="./style.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="libs/vue-websocket.js"></script>
    <script src="libs/vue-sortable.js"></script>
    <script src="utils.js"></script>
    <script src="./template.js"></script>
    <script src="model-adapter.js"></script>

</head>
<body>
Hello
<div id="app">
    <div v-if="mobile">
        MOBILE
    </div>
    <div id="desktop" v-if="!mobile">
        <table class="listStock" cellpadding="0" cellspacing="0">
            <colgroup>
                <col width="3%">
                <col width="3.5%">
                <col width="3.5%">
                <col width="3.5%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="6%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="6%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
            </colgroup>
            <thead>
            <tr class="header">
                <td class="group0" nowrap="" rowspan="2">Mã<br>CK</td>
                <td class="group0" nowrap="" rowspan="2">Trần</td>
                <td class="group0" rowspan="2">TC</td>
                <td class="group0" nowrap="" rowspan="2">Sàn</td>
                <td colspan="6">Dư mua</td>
                <td colspan="3" class="group0">Khớp lệnh</td>
                <td colspan="6">Dư bán</td>
                <td class="group0" rowspan="2">Tổng<br> KL</td>
                <td class="group0" colspan="3">Giá khớp</td>
                <td rowspan="2">NN<br>mua</td>
                <td rowspan="2">NN<br> bán</td>
            </tr>
            <tr class="header">
                <td>Giá3</td>
                <td>KL 3</td>
                <td>Giá2</td>
                <td>KL 2</td>
                <td>Giá1</td>
                <td>KL 1</td>
                <td class="group0">Giá</td>
                <td class="group0">KL</td>
                <td class="group0">Thay đổi</td>
                <td>Giá1</td>
                <td>KL 1</td>
                <td>Giá2</td>
                <td>KL 2</td>
                <td>Giá3</td>
                <td>KL 3</td>
                <td class="group0">Cao</td>
                <td class="group0">TB</td>
                <td class="group0">Thấp</td>
            </tr>
            </thead>
            <tbody v-sortable="{onUpdate: onSortUpdate, animation: true, handle: '.movable'}">
            <tr v-for="item in stocks" class="row">
                <td class="group0 text" :class="detectChangeClass(item)" v-bind:title="item.name">
                    <span class="movable">{{item.id}}</span><i class="close" title="Close">&times;</i>
                </td>
                <td title="" class="group0 c">{{item.price0.ceil}}</td>
                <td title="" class="group0 e">{{item.price0.reference}}</td>
                <td title="" class="group0 f">{{item.price0.floor}}</td>

                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[0].price)">
                    {{item.live.buy[0].price}}
                </td>
                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[0].price)">
                    {{item.live.buy[0].volume}}
                </td>
                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[1].price)">
                    {{item.live.buy[1].price}}
                </td>
                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[1].price)">
                    {{item.live.buy[1].volume}}
                </td>
                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[2].price)">
                    {{item.live.buy[2].price}}
                </td>
                <td title="" class="b" :class="detectChangeClass(item, item.live.buy[2].price)">
                    {{item.live.buy[2].volume}}
                </td>

                <td title="" class="group0" :class="detectChangeClass(item)">{{item.live.match.price}}</td>
                <td title="" class="group0" :class="detectChangeClass(item)">{{item.live.match.volume}}</td>
                <td title="" class="group0 text" :class="detectChangeClass(item)">{{getChangeValue(item)}}</td>

                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[2].price)">
                    {{item.live.sell[2].price}}
                </td>
                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[2].price)">
                    {{item.live.sell[2].volume}}
                </td>
                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[1].price)">
                    {{item.live.sell[1].price}}
                </td>
                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[1].price)">
                    {{item.live.sell[1].volume}}
                </td>
                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[0].price)">
                    {{item.live.sell[0].price}}
                </td>
                <td title="" class="s" :class="detectChangeClass(item, item.live.sell[0].price)">
                    {{item.live.sell[0].volume}}
                </td>

                <td title="" class="group0 e">{{item.live.stats.totalVolume}}</td>
                <td title="" class="group0" :class="detectChangeClass(item, item.live.stats.high)">
                    {{item.live.stats.high}}
                </td>
                <td title="" class="group0" :class="detectChangeClass(item, item.live.stats.average)">
                    {{item.live.stats.average}}
                </td>
                <td title="" class="group0" :class="detectChangeClass(item, item.live.stats.low)">
                    {{item.live.stats.low}}
                </td>

                <td class="q" :title="'Room còn lai: ' + item.live.foreign.buyRoom">{{item.live.foreign.buyVolume}}</td>
                <td class="q" :title="'Room còn lai: ' + item.live.foreign.sellRoom">{{item.live.foreign.sellVolume}}</td>
            </tr>
            <tr>
                <td class="input" colspan="3">
                    <div><input type="text" style="color: #000" placeholder="Nhập mã chứng khoán"/></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="./app.js"></script>
<script src="model.js"></script>
<script src="msb-rest.js"></script>
</body>
</html>