<!DOCTYPE html>
<html>
<head>
    <title>Bang Gia</title>
    <link href="https://necolas.github.io/normalize.css/latest/normalize.css" type="text/css" rel="stylesheet">
    <link href="./style.css" type="text/css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.3.6/mobile-detect.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="vue-sortable.js"></script>
    <script src="./constants.js"></script>
    <script src="./template.js"></script>
</head>
<body>
Hello
<div id="app">
    <div v-if="mobile">
        MOBILE
    </div>
    <div id="desktop" v-if="!mobile">
        <table class="listStock" cellpadding="0" cellspacing="0">
            <colgroup>
                <col width="3%">
                <col width="3.5%">
                <col width="3.5%">
                <col width="3.5%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="6%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="6%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
                <col width="4%">
            </colgroup>
            <thead>
            <tr class="header">
                <td class="group0" nowrap="" rowspan="2">Mã<br>CK</td>
                <td class="group0" nowrap="" rowspan="2">Trần</td>
                <td class="group0" nowrap="" rowspan="2">Sàn</td>
                <td class="group0" rowspan="2">TC</td>
                <td colspan="6">Dư mua</td>
                <td colspan="3" class="group0">Khớp lệnh</td>
                <td colspan="6">Dư bán</td>
                <td class="group0" rowspan="2">Tổng<br> KL</td>
                <td class="group0" colspan="3">Giá khớp</td>
                <td rowspan="2">NN<br>mua</td>
                <td rowspan="2">NN<br> bán</td>
            </tr>
            <tr class="header">
                <td>Giá3</td>
                <td>KL 3</td>
                <td>Giá2</td>
                <td>KL 2</td>
                <td>Giá1</td>
                <td>KL 1</td>
                <td class="group0">Thay đổi</td>
                <td class="group0">Giá</td>
                <td class="group0">KL</td>
                <td>Giá1</td>
                <td>KL 1</td>
                <td>Giá2</td>
                <td>KL 2</td>
                <td>Giá3</td>
                <td>KL 3</td>
                <td class="group0">TB</td>
                <td class="group0">Cao</td>
                <td class="group0">Thấp</td>
            </tr>
            </thead>
            <tbody v-sortable="{onUpdate: onSortUpdate, animation: true, handle: '.movable'}">
            <tr v-for="item in stocks" class="row">
                <td class="group0 text movable i" v-bind:title="item.name">{{item.id}}
                </td>
                <td title="" class="group0 c">{{item.price0.ceil}}</td>
                <td title="" class="group0 e">{{item.price0.reference}}</td>
                <td title="" class="group0 f">{{item.price0.floor}}</td>
                <td title="" class="{{detectChangeClass(item)}}">46.25</td>
                <td title="" class="i">365</td>
                <td title="" class="i">46.3</td>
                <td title="" class="i">57</td>
                <td title="" class="i">46.35</td>
                <td title="" class="i">739</td>
                <td title="" class="group0 text i">FPT▲0.65</td>
                <td title="" class="group0 i">46.35</td>
                <td title="" class="group0 i">2,506</td>
                <td title="" class="i">46.4</td>
                <td title="" class="i">1,600</td>
                <td title="" class="i">46.45</td>
                <td title="" class="i">1,150</td>
                <td title="" class="i">46.5</td>
                <td title="" class="i">1,776</td>
                <td title="" class="group0 e">94,030</td>
                <td title="" class="group0 i">45.97</td>
                <td title="" class="group0 i">46.4</td>
                <td title="" class="group0 d">45.65</td>
                <td title="Room còn lai: 06" class="q">15,000</td>
                <td title="Room còn lai: 06" class="q">15,020</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="./app.js"></script>
</body>
</html>