normal-border = #505050 1pt solid
hover-border = #ff0000 2pt solid

body {
  background #000
  
  &, * {
    font-family arial, helvetica, sans-serif;
    font-size 9pt;
    margin 0;
    box-sizing border-box
  }
}

#mobile {
  
  &, * {
    font-size 24pt
  }
  
  .row {
    
    table {
      width 100%
      thead {
        tr {
          td {
            
            height 50pt
            text-align center
            
            border-top #ffffff 3pt solid
            
            & .text {
              font-weight bold
            }
          }
        }
      }
      
      td {
        border-right normal-border
        border-bottom normal-border
        padding-left 0
        padding-right 2pt
        height 20pt
        vertical-align middle
        text-align right
        width 13%
        
        &:nth-child(4) {
          width 22%
          text-align center
        }
      }
      
      tr {
        td {
        
        }
      }
      
    }
  }
}

#desktop {
  table {
    width 100%
    border-top normal-border
    td {
      border-right normal-border
      border-bottom normal-border
      padding-left 2px
      padding-right 0
      height 20px
      vertical-align middle
    }
    
    thead {
      tr {
        text-align: center;
        
        &:first-child {
          td {
            border-top #888 3px solid
          }
        }
        
        td {
          color #f0f0f0
          &.group0 {
            background-color #333333
          }
        }
      }
    }
    
    tbody {
      tr {
        td {
          text-align right
          
          &.text {
            text-align left
          }
          
          &.group0 {
            background-color #1d1d1d
          }
          &.i, &.i .text {
            color #00ff00
          }
          &.d, &.d .text {
            color #ff0000
          }
          &.c, &.c .text {
            color: #ff00ff
          }
          &.f, &.f .text {
            color: #66ffff
          }
          &.e, &.e .text {
            color: #ffff00
          }
          
          .close {
            display none
            float right
            cursor pointer
            margin-right 3px
            color #888
            
            &:hover {
              color #fff
            }
          }
          
          &.input div {
            width 100%
            input {
              width 100%
            }
            border-bottom none
          }
        }
        
        &:hover td {
          border-bottom hover-border
          
          .close {
            display inline;
            
          }
          
          &.input {
            border-bottom none
          }
        }
        
        .movable {
          cursor move
        }
        
        &[draggable="true"] {
          .movable {
            cursor move
          }
          td.group0 {
            background #404
          }
          background #404
        }
      }
    }
  }
}

.i, .i .text {
  color #00ff00
}

.d, .d .text {
  color #ff0000
}

.c, .c .text {
  color: #ff00ff
}

.f, .f .text {
  color: #66ffff
}

.e, .e .text {
  color: #ffff00
}

.q {
  color #fff
}